.find-button {
    background-color: #67cafe;
    border: 1px solid #67cafe;
    color: white;
    border-radius: 0.375rem;
    width: 400px;
    height: 65px;
}

.login-button {
    background-color: white;
    border: 1px solid #67cafe;
    border-radius: 0.375rem;
    color: #67cafe;
    width: 400px;
    height: 65px;
}

.find-button:hover {
    background-color: white;
    color: #67cafe;
    border: 1px solid #67cafe;
}

.login-button:hover {
    background-color: #67cafe;
    color: white;
    border: 1px solid #67cafe;
}


.form-control {
    width: 400px;
}

.blank {
    height: 20px;
}