body {
    min-width: 1200px;
}

.container,
.container > div {
    height: 960px;
}

.container > div > div {
    height: 700px;
    width: 700px;
}

.findIdTitle {
    height: 100px;
    width: 700px;
}

h1 {
    font-size: 40px;
    color: #67cafe;
}

.findPwContent {
    height: 500px;
}

.appearance-button {
    background-color: #91d8fb;
    border: none;
    color: white;
    border-radius: 0.375rem;
    width: 400px;
    height: 65px;
}

.appearance-button:hover {
    background-color: #67cafe;
}


.form-control {
    width: 400px;
}

.blank {
    margin-bottom: 20px;
}
