.join-button {
    background-color: #67cafe;
    border: 1px solid #67cafe;
    color: white;
    border-radius: 0.375rem;
    width: 150px;
    height: 38px;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.cancel-button {
    background-color: white;
    border: 1px solid #67cafe;
    border-radius: 0.375rem;
    color: #67cafe;
    width: 150px;
    height: 38px;
    --bs-btn-active-color: white;
    --bs-btn-active-border-color: red;
    --bs-btn-active-bg: red;
}

.certification-button {
    background-color: #fff;
    border: 1px solid #67cafe;
    color: #67cafe;
    border-radius: 0.375rem;
    width: 125px;
    height: 38px;
    --bs-btn-active-color: #67cafe;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #fff;
}

.certification-button:focus {
    background-color: #fff;
    color: #67cafe;
    border: 1px solid #67cafe;
}

/*.certification-button:active {*/
/*    background-color: #67cafe;*/
/*    color: white;*/
/*    border: 1px solid #67cafe;*/
/*}*/

/*.show:active {*/
/*    background-color: #67cafe;*/
/*    color: #67cafe;*/
/*    border: 1px solid #67cafe;*/
/*}*/

.join-button:hover {
    background-color: #67cafe;
    border: 1px solid #67cafe;
    color: #000;
}

.cancel-button:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.certification-button:hover {
    background-color: #67cafe;
    color: white;
    border: 1px solid #67cafe;
}

.form-control {
    width: 400px;
}

.feedback {
    height: 24px;
}

.blank {
    height: 30px;
}

