<!-- TODO 배포 전 활성화 -->
<!--<configuration>-->
<!--    <property name="LOG_PATH" value="${user.home}/DogCat/log" />-->
<!--    <property name="LOG_FILE" value="${LOG_PATH}/DogCatLog.log" />-->

<!--    &lt;!&ndash; Console Appender for logging to console &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for logging to file &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOG_FILE}</file>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_PATH}/DogCatLog.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Logger configurations &ndash;&gt;-->
<!--    <logger name="org.springframework" level="INFO" />-->
<!--    <logger name="community" level="WARN" />-->
<!--    <logger name="security" level="WARN" />-->
<!--    <logger name="hibernate.sql" level="WARN" />-->
<!--    <logger name="com.amazonaws.util.EC2MetadataUtil" level="ERROR" />-->

<!--    &lt;!&ndash; Root logger configuration &ndash;&gt;-->
<!--    <root level="WARN">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
<!--    </root>-->
<!--</configuration>-->
