<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/my/userRepliesActivity.css} ">
    <!--jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--부트스트랩 아이콘 사용-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!--부트스트랩 아이콘 사이즈 조절-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>말랑발자국 - 내 활동</title>
</head>
<body>
<div th:include="include/header :: header"></div>

<div class="container">

    <!--본문 영역-->
    <div class="content">

        <div th:with="userId=${responseDTO.getUserId()}">
            <span th:if="(${userId}!=${username})">
                <h6 class="myPage">관리자페이지</h6>
                <h2 class="myTitle">회원 활동</h2>
            </span>
            <span th:if="(${userId}==${username})">
                <h6 class="myPage">마이페이지</h6>
                <h2 class="myTitle">내 활동</h2>
            </span>
        </div>

        <div class="d-flex justify-content-center align-items-center nav">
            <div class="col-4 text-center align-content-center countReply1">
                <a th:href="@{/my/userActivity/{userId}/posts(userId=${userId})}">
                    작성글 <span th:text="${responseDTO?.postCount}"></span>
                </a>
            </div>
            <div class="col-4 text-center align-content-center countReply2">
                <a th:href="@{/my/userActivity/{userId}/replies(userId=${userId})}">
                    댓글 <span th:text="${responseDTO?.replyCount}"></span>
                </a>
            </div>
            <div class="col-4 text-center align-content-center countReply3">
                <a th:href="@{/my/userActivity/{userId}/scraps(userId=${userId})}">
                    보관함 <span th:text="${responseDTO?.scrapCount}"></span>
                </a>
            </div>
        </div> <!--상단-->

        <!--본문-->
        <div id="list" class="card mb-4 myList">
            <!--게시글이 있을 때-->
            <!--글목록-->
            <div th:if="${responseDTO?.dtoList != null}">
                <table class="table read">
                    <!--게시물 정보 받아오기-->
                    <tbody>
                    <tr th:each="dto:${responseDTO.dtoList}" style="height: 69.67px;">
                        <td class="align-middle text-center boardCode">
                                <span class="boardTag">
                                    <span th:if="${dto.boardCode eq 'showoff'}" th:text="자랑"></span>
                                    <span th:if="${dto.boardCode eq 'general'}" th:text="자유"></span>
                                    <span th:if="${dto.boardCode eq 'tip'}" th:text="정보"></span>
                                    <span th:if="${dto.boardCode eq 'qna'}" th:text="QnA"></span>
                                </span>
                        </td>
                        <td class="align-middle listOne">
                            <a th:href="@{'/board/read/'+${dto.postNo}}">
                                <span th:text="${dto.replyContent}">>
                                    댓글 내용
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--게시글 목록이 없을 때-->
            <div class="noSearch" th:if="${responseDTO?.dtoList == null or responseDTO?.dtoList.isEmpty()}">
                <div class="noSearchContent">
                    <img class="mx-auto d-block" src="/img/board/no_search.png" alt="활동내역이 존재하지 않습니다">
                    <div class="text-center mt-3 mb-3">
                        활동내역이 존재하지 않습니다
                    </div>
                </div>
            </div>
        </div> <!--card--> <!--본문-->

        <!--하단-->
        <div class="d-flex justify-content-center align-items-center">
            <!--pagination-->
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.first}"><i
                            class="bi bi-skip-backward-fill"></i></a>
                </li>
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO. start - 1}"><i
                            class="bi bi-caret-left-fill"></i></a></li>
                <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end + 1}">
                        <i class="bi bi-caret-right-fill"></i></a></li>
                <li class="page-item" th:if="${responseDTO.next}">

                    <a class="page-link" th:data-num="${responseDTO.last}">

                        <i class="bi bi-skip-forward-fill"></i></a>
                </li>
            </ul> <!--pagination-->
        </div> <!--하단-->

        <!--검색-->
        <div class="d-flex justify-content-center align-items-center mb-3 searchForm">
            <!--검색-->
            <form class="search"
                  th:action="@{/my/userActivity/{userId}/replies(userId=${userId})}" method="get">
                <div class="d-flex">
                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"
                    >
                    <button class="btn searchBtn" type="submit"><span><i
                            class="bi bi-search"></i></span>
                    </button>
                </div>
            </form> <!--검색-->
        </div> <!--검색-->

    </div> <!--content--> <!--본문 영역-->

    <!--사이드 영역-->
    <div class="sidebar">
        <aside>
            <!--검색 필터-->
            <div id="floating-element" class="floating-element">
                <div class="text-center pt-3 pb-2 mb-2 sideMyPage">
                    <div class="py-2">
                        <a href="/my/user-detail">
                            마이페이지
                        </a>
                    </div>
                </div>
                <div class="text-center p-2 sideActivity">
                    <a th:href="@{/my/userActivity/{userId}/posts(userId=${userId})}">내 활동</a>
                </div>
                <div class="text-center p-2 sideMyInfo">
                    <a th:href="@{'/my/user-modify?userId=' + ${username}}">내 정보 수정</a>
                </div>
            </div> <!--검색필터-->
        </aside>
    </div> <!--사이드 영역-->

</div> <!--container-->
</body>
<div th:include="include/footer :: footer"></div>
<script>
    //replyCountBtn 버튼 클릭 이벤트
    document.querySelectorAll(".replyCountBtn").forEach(function (button) {
        button.addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            let postNo = this.getAttribute("data-postNo");
            location.href = '/board/read/' + postNo + '#reply';
        });
    });

    //pagination 클릭 이벤트
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        //실제 클릭된 요소를 가져와서 target 변수에 할당
        let target = e.target.closest('a');

        if (!target) {
            return;
        }

        let num = target.getAttribute("data-num")
        if (!num) {
            num = 1; // 기본값 설정
        }

        // 현재 URL 가져오기
        let currentUrl = new URL(window.location.href);

        // 페이지 번호 업데이트
        currentUrl.searchParams.set('page', num);

        // 수정된 URL로 이동
        window.location.href = currentUrl.href;

    }, false)

    // tr이 10번째인 것 만 아랫 밑줄 제거
    document.addEventListener("DOMContentLoaded", function () {
        let rows = document.querySelectorAll(".table.read tbody tr");
        if (rows.length >= 10) {
            let targetRow = rows[9]; // 10번째 tr, 인덱스 9
            targetRow.style.borderBottom = "none"; // 10번째 tr의 밑줄 제거

            let cells = targetRow.querySelectorAll("td"); // 10번째 tr의 모든 td
            cells.forEach(cell => {
                cell.style.borderBottom = "none"; // 모든 td의 밑줄 제거
            });
        }
    });
</script>
</html>
