header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.header {
    max-width: 1200px;
    margin: 0 auto; /* 중앙 정렬 */
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px 0 20px;
    background-color: #fff;
    margin-bottom: 0;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}

.log {
    font-weight: bold;
    width: 310px;
}

.auth {
    font-size: 0.9em;
    width: 310px;
}

.auth a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 50%;
    padding: 5px;
    font-size: 1em;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

