header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.header {
    max-width: 1500px;
    margin: 0 auto; /* 중앙 정렬 */
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px 0 20px;
    background-color: #fff;
    margin-bottom: 0;
}

.logo {
    font-weight: bold;
    width: 310px;
}

.logo > a > img {
    width: 120px;
    height: 120px;
}

.title > a > img {
    width: 400px;
    height: 150px;
}

.headerImg {
    width: 50px;
    transform: rotate(20deg);
}

.auth {
    font-size: 0.9em;
    width: 310px;
}

.auth a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.search-container > form {
    width: 33%;
}

.search-container input[type="text"] {
    width: 50%;
    padding: 5px;
    font-size: 1em;
}

nav {
    text-align: center;
    margin-top: 10px;
    height: 66px;
    margin-bottom: 20px;
}

nav span {
    margin-top: 20px;
    height: 30px;
}

.nowNav {
    border-bottom: 2px solid white;
}

.nowNav a {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a,
nav a:hover{
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

.navBar{
    background-color: #67cafe;
}

.header-fs {
    border: 3px solid #67cafe;
    border-radius: 0;
    border-right:0;
}

.header-fc {
    border: 3px solid #67cafe;
    border-left: white;
    border-radius: 0
}

.header-sb {
    border: 3px solid #67cafe;
    border-radius: 0;
    background-color: #67cafe
}

.header-sb:hover {
    background-color: #67cafe;
}

.header-sb > i {
    color: #fff;
}

.form-select:focus, .form-control:focus, .searchBtn:focus {
    outline: none;
    box-shadow: none;
}
