<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body th:fragment="summernote">
<textarea id="summernote" name="postContent" th:text="${postDTO?.postContent}"></textarea>
<script th:inline="javascript">

    //섬머노트 에디터 설정
    $(document).ready(function () {
        let uploadedImages = []; // 이미지 업로드 배열
        let imageUUIDs = [];
        let extensions = [];
        let originalFileName = [];
        let previousContents = '';

        // 섬머노트 초기화
        $('#summernote').summernote({
            height: 500,
            minHeight: 300,
            maxHeight: null,
            focus: true,
            disableDragAndDrop: true,
            lang: "ko-KR",
            toolbar: [
                ['style', ['style']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
            ],
            styleTags: [
                'p',
                'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋움체', '바탕체'],
            fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
            callbacks: {

                // 이미지 업로드 콜백
                onImageUpload: function (files) {
                    if (files !== null) {
                        for (let i = 0; i < files.length; i++) {
                            let formData = new FormData();

                            let uploadLimitSize = 1024 * 1024 * 30 // 30mb

                            // 이미지 파일 업로드 체크를 위해 확장자 분리
                            let fileExtension = files[i].name.split('.').pop().toLowerCase()

                            // 확장자 체크 and 사이즈 체크 후 문제 없을 시 content 에 insert
                            if (fileExtension !== 'jpg' && fileExtension !== 'jpeg' && fileExtension !== 'png' && fileExtension !== 'gif' &&
                            fileExtension !== 'ico' && fileExtension !== 'bmp' && fileExtension !== 'heif' && fileExtension !== 'webp' && fileExtension !== 'svg') {
                                alert('이미지 파일만 업로드 가능합니다.');
                                return;

                            } else if (files[i].size >= uploadLimitSize) {

                                alert("파일 크기는 30mb 이하여야 합니다.");
                                return;

                            } else {

                                formData.append('files', files[i]);
                                uploadedImages.push(files[i]);

                                $.ajax({
                                    url: '/api/upload/summernote-upload',
                                    method: 'POST',
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    dataType: 'json',
                                    success: function (response) {
                                        let filesInfo = response.files;

                                        // 업로드 성공 시 summernote 에 이미지 추가
                                        filesInfo.forEach(file => {

                                            let imageUrl = file.imageUrl;
                                            let fileUuid = file.uuid;
                                            let fileExtension = file.extension;
                                            let fileName = file.name;

                                            imageUUIDs.push(fileUuid);
                                            extensions.push(fileExtension);
                                            originalFileName.push(fileName)

                                            // 이미지 크기
                                            let width = file.width;
                                            let height = file.height;

                                            // 이미지 크기 비율에 맞춰 조절
                                            let maxWidth = 75; // 최대 너비 75%
                                            let ratio = Math.min(maxWidth / width, 100 / height);
                                            let newWidth = width * ratio;
                                            let newHeight = height * ratio;

                                            // 이미지 삽입과 추가 속성 설정
                                            let $img = $('<img>').attr('src', imageUrl).attr('data-filename', fileName)
                                                .attr('width', `${newWidth}%`).attr('height', `${newHeight}%`);
                                            $('#summernote').summernote('insertNode', $img[0]);
                                        });
                                    }
                                });
                            }
                        }
                    } else {
                        console.log("summernote 업로드 에러")
                    }
                },

                // 에디터 본문의 변경사항이 있을시 불러와지는 callback 함수
                onChange: function (contents) {

                    // 내용 변화가 있을 때만
                    if (contents !== previousContents) {

                        // 파일 업로드시 넣어둔 url, originalFileName, fileUuid, extension 을 지우기 위해 추출
                        const previousUrls = [];
                        const currentUrls = [];

                        const previousFileNames = [];
                        const currentFileNames = [];

                        if ($(contents).find('img')) {
                            $(contents).find('img').each(function () {

                                currentUrls.push($(this).attr('src'));
                                currentFileNames.push($(this).attr('data-filename'));
                            });
                        }

                        if ($(previousContents).find('img')) {
                            $(previousContents).find('img').each(function () {

                                previousUrls.push($(this).attr('src'));
                                previousFileNames.push($(this).attr('data-filename'));
                            });
                        }

                        previousContents = contents;

                        trackDeleteImagesInfo(currentUrls, previousUrls,
                            currentFileNames, previousFileNames)
                    }
                },
            }
        });

        /* ---------------------------------------------------------------------------- */

        // 본문 내용을 비교해 삭제 된 이미지의 정보들 추출
        function trackDeleteImagesInfo(currentUrls, previousUrls,
                                       currentFileNames, previousFileNames) {

            // 각 배열들에 있는 내용을 현재 내용과 비교해 없는 것들을 deleted 에 저장
            const deletedImagesUrls = previousUrls.filter(urls => !currentUrls.includes(urls));

            // 각 배열에 담긴 정보 순서는 모두 한 파일씩 일정하니 파일이름 하나로 기준을 잡음
            const deletedImagesFileName = previousFileNames.filter(names => !currentFileNames.includes(names));

            // 삭제된 파일이 있을 때만 실행
            if (deletedImagesUrls.length !== 0) {

                // 업로드된 임시 파일들 삭제
                deleteUploadImages(deletedImagesUrls);
                deleteArrays(deletedImagesFileName);
            }

        }

        // url 을 기준으로 썸머노트의 임시파일 제거
        function deleteUploadImages(deletedImagesUrls) {

            deletedImagesUrls.forEach(url => {
                const formData = new FormData();

                formData.append('deletedImageUrl', url);

                $.ajax({
                    url: '/api/upload/delete-backspace',
                    data: formData,
                    method: 'POST',
                    contentType: false,
                    processData: false,
                    error: function (error) {
                        console.error('이미지 삭제 오류', error);
                    }
                });
            })
        }

        // 모든 배열의 순서와 길이는 동일하므로 하나의 기준으로 모든 배열 제거
        function deleteArrays(deletedImagesFileName) {

            if (deletedImagesFileName.length !== 0) {
                deletedImagesFileName.forEach(files => {

                    const index = originalFileName.indexOf(files);

                    uploadedImages.splice(index, 1);
                    originalFileName.splice(index, 1)
                    imageUUIDs.splice(index, 1);
                    extensions.splice(index, 1);

                })
            }

        }

        /* ---------------------------------------------------------------------------- */

        // 게시글 저장 및 업로드 함수
        function savePostAndGetPostNo() {

            let userId = $('[name="userId"]').val();
            let postTitle = $('[name="postTitle"]').val();
            let boardCode = $('[name="boardCode"]').val();
            let postTag = $('[name="postTag"]').val();
            let postContent = $('#summernote').summernote('code');
            let secret = $('[name="secret"]').val();
            let replyAuth = $('[name="replyAuth"]').val();

            let formData = new FormData();

            let url;

            formData.append('userId', userId);
            formData.append('postTitle', postTitle);
            formData.append('boardCode', boardCode);
            formData.append('postTag', postTag);
            formData.append('postContent', postContent);

            if (boardCode === 'qna') {
                url = '/board/register_q';
                formData.append('secret', secret);
                formData.append('replyAuth', replyAuth);

            } else {
                url = '/board/register';
            }

            $.ajax({
                url: url,
                method: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {

                    let postNo = response.postNo;

                    // 게시글 먼저 등록 후 이미지 업로드시 엑박 방지를 위해
                    if (uploadedImages.length !== 0) {
                        uploadS3Image(uploadedImages, postNo, imageUUIDs);
                        setTimeout(() => {
                            location.href = '/board/read/' + postNo;
                        }, 2000);
                    } else {
                        location.href = '/board/read/' + postNo;
                    }
                }
            });
        }

        /* ---------------------------------------------------------------------------- */

        // 게시글 수정

        function modifyBoard() {

            let userId = $('[name="userId"]').val();
            let postNo = $('[name="postNo"]').val();
            let postTitle = $('[name="postTitle"]').val();
            let boardCode = $('[name="boardCode"]').val();
            let postTag = $('[name="postTag"]').val();
            let postContent = $('#summernote').summernote('code');
            let secret = $('[name="secret"]').val();
            let replyAuth = $('[name="replyAuth"]').val();


            let formData = new FormData();

            formData.append('userId', userId);
            formData.append('postTitle', postTitle);
            formData.append('boardCode', boardCode);
            formData.append('postTag', postTag);
            formData.append('postContent', postContent);
            formData.append('postNo', postNo);

            let url;

            // qna 게시판일 경우
            if (boardCode === 'qna') {
                url = '/board/modify_q';
                formData.append('secret', secret);
                formData.append('replyAuth', replyAuth);
            } else {
                url = '/board/modify';
            }

            $.ajax({
                url: url,
                method: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // 게시글 먼저 등록 후 이미지 업로드시 엑박 방지를 위해
                    if (uploadedImages.length !== 0) {
                        uploadS3Image(uploadedImages, postNo, imageUUIDs);
                        setTimeout(() => {
                            location.href = '/board/read/' + postNo;
                        }, 2000);
                    } else {
                        location.href = '/board/read/' + postNo;
                    }
                }
            });

        }

        /* ---------------------------------------------------------------------------- */

        // S3에 이미지 업로드 함수
        function uploadS3Image(files, postNo, uuids) {

            let formData = new FormData();

            files.forEach((file, uuid) => {
                formData.append('files', file);
                formData.append('uuids', uuids[uuid]);
            });

            formData.append('postNo', postNo);

            $.ajax({
                url: '/api/upload/s3',
                data: formData,
                method: 'POST',
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                error: function (error) {
                    console.error('Error S3 Uploading Image: ', error);
                }
            })
        }


        /* ---------------------------------------------------------------------- */

        function removeTempFileWithCancelButton(uuids, extensions) {
            let formData = new FormData();

            formData.append('uuid', uuids);
            formData.append('extension', extensions);

            $.ajax({
                url: '/api/upload/delete-temp',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                error: function (error) {
                    console.error('Error Delete Image With Cancel Button: ', error);
                }
            });
        }

        // 저장 버튼 클릭 시 동작
        $('.submitBtn').on('click', function (e) {

            e.preventDefault();
            if (checkForm()) {
                savePostAndGetPostNo();
            }
        });

        $('.modifyBtn').on('click', function (e) {
            e.preventDefault();
            if (checkForm()) {
                modifyBoard();
            }
        });

        $('.cancelBtn').click(function () {

            let result = confirm('게시글 작성을 취소하시겠습니까?');
            if (result) {
                location.href = document.referrer;
            }
        });

        $('.modifyCancelBtn').click(function () {
            let postNo = $('[name="postNo"]').val();

            let result = confirm('게시글 수정을 취소하시겠습니까?');
            if (result) {
                window.location.href = '/board/read/' + postNo;
            }
        });

        // 드롭다운 메뉴 오류 처리 - 코드 줄여놓음 ys
        $(document).on('click', function () {
            $('button.dropdown-toggle.open').removeClass('open');
        });

        $('button.dropdown-toggle').on('click', function (e) {
            e.stopPropagation();
            $(this).toggleClass('open').siblings('.open').removeClass('open');
        });

        $(document).keydown(function (e) {
            if (e.keyCode === 27) {
                $('button.dropdown-toggle.open').removeClass('open');
            }
        });

        // 브라우저가 종료될 시 임시파일이 존재하면 삭제 (취소버튼, F5, alt+F4, 브라우저 종료 등등)
        window.addEventListener('beforeunload', function () {
            if(uploadedImages.length !== 0) {
                removeTempFileWithCancelButton(imageUUIDs, extensions);
            }
        })
    });

</script>
</body>

</html>