a:hover {
    font-weight: bold;
}

.pagination {
    width: 1000px;
    display: flex;
}

.page-item .page-link {
    color: #000; /* 기본 색상 */
    background-color: #fff;
    border: 1px solid #67cafe;
}

.page-item .page-link:hover {
    background-color: #E8FFFF;
}

.page-item.active .page-link {
    background-color: #67cafe; /* 활성화된 버튼 배경색 */
    color: #fff; /* 활성화된 버튼 텍스트 색상 */
}

.adminTitle {
    margin-bottom: 4rem;
}

.adminMenu {
    width: 65%;
}

.searchForm {
    width: 30%;
}

.replyAuthImg {
    width: 25px;
    height: 25px;
}

.user-list {
    background-color: #E8FFFF;
    border: 1px solid #d5d5d5;
    border-radius: 0.5rem 0 0 0.5rem;
    height: 43px;
    padding: 10px;
    align-items: center;
    width: 40%;
}

.user-list-active {
    background-color: #67cafe;
    border: 1px solid #d5d5d5;
    border-radius: 0.5rem 0 0 0.5rem;
    height: 43px;
    padding: 10px;
    align-items: center;
    color: white;
    width: 40%;
}

.report-list {
    background-color: #E8FFFF;
    border: 1px solid #d5d5d5;
    border-left: white;
    border-radius: 0;
    height: 43px;
    padding: 10px;
    align-items: center;
    width: 40%;
}

.report-list-active {
    background-color: #67cafe;
    border: 1px solid #d5d5d5;
    border-left: white;
    border-radius: 0;
    height: 43px;
    padding: 10px;
    align-items: center;
    color: white;
    width: 40%;
}

.block-list {
    background-color: #E8FFFF;
    border: 1px solid #d5d5d5;
    border-left: white;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 43px;
    padding: 10px;
    align-items: center;
    width: 40%;
}

.block-list-active {
    background-color: #67cafe;
    border: 1px solid #d5d5d5;
    border-left: white;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 43px;
    padding: 10px;
    align-items: center;
    color: white;
    width: 40%;
}

.administratiorBtn {
    color: #fff;
    background-color: #67cafe;
    border: 1px solid #67cafe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6610f2;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100px;
    height: 40px;

}

.blockUserBtn {
    color: #fff;
    background-color: #67cafe;
    border: 1px solid #67cafe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: red;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100px;
    height: 40px;

}

.reportDetailBtn {
    color: #fff;
    background-color: #67cafe;
    border: 1px solid #67cafe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: chartreuse;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100px;
    height: 40px;
}

.Admin {
    font-size: large;
    color: red;
}

