body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;

}

h1 {
    color: #67cafe;
    margin-bottom: 0;
}

.report-detail {
    padding: 20px;
    width: 500px;
    margin-top: 0px;
    box-sizing: border-box; /* 패딩 포함 너비 계산 */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details, .content {
    margin-bottom: 20px;
}

.details div {
    display: block;
    margin-bottom: 5px;
}

.report-title, .report-content {
    margin-bottom: 10px;
}

.delete-report {
    text-align: right;
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.report-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
