body {
    min-width: 1200px; /* 고정 최소 너비 설정 */

}

.container {
    max-width: 1000px;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
}

.content {
    flex-grow: 1;
    padding-right: 20px; /* 사이드바와의 간격을 두기 위해 패딩 추가 */
}

.boardTitle {
    color: #67cafe;
    font-size: 35px;
    margin-bottom: 0;
}

.writeBtn {
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

#list, #showOffList {
    width: 1000px;
    height: 700px; /* 카드 크기 고정 */
    box-shadow: 1px 1px 3px #dee2e6;
}

.list td {
    height: 70px;
}

.showOffList td {
    height: 140px;
}

td > a {
    text-decoration: none;
    color: black;
}

.checkBox {
    width: 30px;
    padding-right: 0;
}

.form-check-input {
    margin-left: 0.75rem;
}

.boardImg {
    display: block;
    width: 120px;
    height: 120px;
}

.replyAuth {
    width: 30px;
    margin-right: 5px;
}

.replyAuthImg {
    width: 30px;
}

.listOne {
    width: auto;
}

.listPost {
    padding-left: 10px;
}

.tag {
    height: 35px;
}

.title {
    font-size: 16px;
}

.title.sub {
    font-size: 12px;
    color: gray;
}

.showOffTitle {
    font-size: 22px;
}

.showOffTitle.sub {
    font-size: 18px;
    color: gray;
}

.level {
    height: 15px;
}

.reply {
    width: 150px;
}

.replyCountBtn {
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.secret {
    color: gray;
}

.secretPost {
    font-size: 18px;
    color: gray;
    margin-bottom: 0;
}

.bi-file-lock {
    font-size: 20px;
}

.bi-file-earmark-image {
    font-size: 18px;
}

.noSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.noSearchContent {
    text-align: center;
}

.noSearch img {
    height: 300px;
}

.noSearch > div {
    color: gray;
}

.blank,
.btnSection {
    display: flex;
    justify-content: flex-end;
    width: 180px;
}

.deleteBtn {
    background-color: #E8FFFF;
    border-color: white;
    color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: red;
    --bs-btn-hover-bg: red;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: red;
    --bs-btn-active-bg: red;
}

.page-item .page-link {
    color: #000; /* 기본 색상 */
    background-color: #fff;
    border: 1px solid #67cafe;
}

.page-item .page-link:hover {
    background-color: #E8FFFF;
}

.page-item.active .page-link {
    background-color: #67cafe; /* 활성화된 버튼 배경색 */
    color: #fff; /* 활성화된 버튼 텍스트 색상 */
}

.searchForm {
    width: 100%;
    display: flex;
}

.searchForm select,
.searchForm input,
.searchForm button {
    width: auto; /* 내부 요소 크기 고정 */
}

.searchForm .form-select {
    border-radius: 15px 0 0 15px;
    border: 1px solid #67cafe;
    border-right: none;
}

.searchForm .form-control {
    border-radius: 0;
    border-top: 1px solid #67cafe;
    border-bottom: 1px solid #67cafe;
    border-left: none;
    border-right: none;
}

.searchForm .searchBtn {
    border-radius: 0 15px 15px 0;
    border: 1px solid #67cafe;
    border-left: none;
    color: #000;
    background-color: #E8FFFF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.searchForm .searchBtn:hover {
    border-radius: 0 15px 15px 0;
    border: 1px solid #67cafe;
    border-left: none;
    color: #000;
    background-color: #67cafe;
}

.sidebar {
    width: 200px; /* 고정된 사이드바 너비 */
    flex-shrink: 0; /* 사이드바가 줄어들지 않도록 설정 */
    padding: 20px; /* 사이드바 안의 여백 */
    height: 100vh; /* 전체 화면 높이 */
}

.floating-element {
    position: fixed;
    display: flex;
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
    align-items: center; /* 자식 요소를 수평 중앙 정렬 */
    justify-content: center;
    width: 100%;
    max-width: 200px;
    border: 1px solid #d5d5d5;
    border-radius: 0.75rem;
}

.sideWriteBtn {
    width: 160px;
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

div.text-muted {
    font-size: 0.9rem;
}

.filterBtn {
    width: 160px;
    height: 15%;
    font-size: 0.85rem;
    color: #fff;
    background-color: #67cafe;
    border: 1px solid #67cafe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.boardInfo {
    color: #96d8fd;
}
