body {
    min-width: 1200px; /* 고정 최소 너비 설정 */
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
}

.content {
    width: 100%;
    padding: 30px;
}

.boardCode {
    width: 150px;
}

.postTag {
    margin-right: 5px;
    width: 110px;
}

.replyAuth,
.secret {
    margin-right: 5px;
    width: 135px;
}

.submitBtn {
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.cancelBtn,
.modifyCancelBtn {
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.modifyBtn {
    color: #000;
    background-color: #E8FFFF;
    border: 1px solid #E8FFFF;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-border-color: #67cafe;
    --bs-btn-hover-bg: #67cafe;
    --bs-btn-active-color: #000;
    --bs-btn-active-border-color: #67cafe;
    --bs-btn-active-bg: #67cafe;
}

.registerTitle {
    color: #67cafe;
    margin-bottom: 1rem;
}

.postTitle {
    width: 650px;
}

.postTitleQ {
    width: 916px;
    margin-bottom: 0.5rem;
}

.postTitleQ2 {
    border-radius: 0 5px 5px 5px;
}
